<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <script src="../bower_components/angular/angular.js">
</script>
  <script src="../dist/angular-img-cropper.min.js"></script>
  <script src="bakkrunt.js"></script>
  <script src="app.js">
</script>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app">

  <div class="jumbotron">
    <div class="container text-center">
      <h1>angular-img-cropper</h1>
      <p><a href="https://github.com/McNull/angular-img-cropper"><span class="fa fa-github"></span>&nbsp;https://github.com/McNull/angular-img-cropper</a></p>
    </div>
  </div>

  <div ng-controller="ImageCropCtrl as vm" class="container">
    <div class="img-cropper">
      <div class="img-cropper-container">
        <div class="img-cropper-contraint">
          <canvas class="img-cropper-canvas" width="1920" height="1080" img-cropper img-src="vm.image.src" img-dst="vm.image.dst" crop-width="vm.cropper.width"
            crop-height="vm.cropper.height" crop-area-bounds="vm.cropper.bounds" keep-aspect="vm.cropper.keepaspect" color="rgba(100, 100, 100, 0.8)">
          </canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-center text-center">
          <label class="btn btn-lg btn-default">
            <i class="fa fa-upload"></i>&nbsp;Select File
            <input type="file" img-cropper-fileread image="vm.image.src" style="display:none;">
          </label>
          <button class="btn btn-lg btn-primary" ng-click="vm.crop()"><i class="fa fa-crop"></i>&nbsp;Crop Image</button>
        </div>
      </div>
    </div>

    <div class="img-cropper-image-list">
      <div class="row">
        <div class="col-xs-3 col-md-2" ng-repeat="image in vm.images track by $index">
          <a href="#" class="thumbnail">
            <img class="img-responsive" ng-src="{{image}}" />
          </a>
        </div>
      </div>
    </div>
  </div>

  </div>


  </div>
</body>

</html>
