<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <script src="../bower_components/angular/angular.js">
</script>
  <script src="../src/angular-img-cropper.js">
</script>
  <script src="../src/image-cropper/handle.js">
</script>
  <script src="../src/image-cropper/point.js">
</script>
  <script src="../src/image-cropper/point-pool.js">
</script>
  <script src="../src/image-cropper/crop-service.js">
</script>
  <script src="../src/image-cropper/drag-marker.js">
</script>
  <script src="../src/image-cropper/corner-marker.js">
</script>
  <script src="../src/image-cropper/bounds.js">
</script>
  <script src="../src/image-cropper/crop-touch.js">
</script>
  <script src="../src/image-cropper/image-cropper.js">
</script>
  <script src="../src/image-cropper/image-cropper-data-share.js">
</script>
  <script src="../src/file-read/img-cropper-file-read.js">
</script>
  <script src="../src/file-read/img-cropper-file-read-call.js">
</script>
  <script src="app.js">
</script>
</head>

<body ng-app="app">

  <div class="jumbotron">
    <div class="container">
      <h1>angular-img-cropper</h1>
      <p>Chop chop chop ...</p>
    </div>
  </div>

  <div ng-controller="ImageCropperCtrl as vm" class="container">

    

    <div class="img-cropper">
      <div class="img-cropper-container">
        <div class="img-cropper-contraint">
          <canvas class="img-cropper-canvas" width="1920" height="1080" img-cropper img-src="vm.image.src" img-dst="vm.image.dst" crop-width="vm.cropper.width"
            crop-height="vm.cropper.height" crop-area-bounds="vm.cropper.bounds" keep-aspect="vm.cropper.keepaspect" color="rgba(100, 100, 100, 0.8)">
          </canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-center text-center">
          <label class="btn btn-lg btn-default">
            <i class="fa fa-upload"></i>&nbsp;Select File
            <input type="file" img-cropper-fileread image="vm.image.src" style="display:none;">
          </label>
          <button class="btn btn-lg btn-primary"><i class="fa fa-crop"></i>&nbsp;Crop Image</button>
        </div>
      </div>
    </div>

    <div ng-if="vm.image.dst"><img ng-src="{{vm.image.dst}}" /></div>

    <style>
      .img-cropper,
      .img-cropper-container {
        margin-bottom: 10px;
      }
      
      .img-cropper-container {
        padding: 10px;
        background-color: #000;
      }
      
      .img-cropper-canvas {
        display: block;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
      
      .col-center {
        float: none;
        margin: 0 auto;
      }
    </style>

    <!--<input type="file" img-cropper-fileread image="vm.cropper.sourceImage" />
    <div>
      <canvas width="500" height="300" id="canvas" image-cropper image="vm.cropper.sourceImage" cropped-image="vm.cropper.croppedImage"
        crop-width="vm.width" crop-height="vm.height" min-width="100" min-height="50" keep-aspect="vm.keepaspect" crop-area-bounds="vm.bounds">
      </canvas>
    </div>
    <input type="text" ng-model="vm.width">
    <input type="text" ng-model="vm.height">
    <input type="checkbox" ng-model="vm.keepaspect">
    <div>Cropped Image (Left: {{vm.bounds.left}} Right: {{vm.bounds.right}} Top: {{vm.bounds.top}} Bottom: {{vm.bounds.bottom}})</div>
    <div ng-show="vm.cropper.croppedImage!=null"><img ng-src="{{vm.cropper.croppedImage}}" /></div>-->

    <!--<pre><code>{{ vm.image | json }}</code></pre>-->
  </div>
</body>

</html>